.successMessage{
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    color: white;
}

.mainContainer{
    background-color: white;
    border-radius: 10px;
}


.repeat{
    font-size: 1.5vh;
}

.errorMessage{
    color: red;
}
  
#toc{
    color: blue;
}

@media screen and (max-width: 786px){
    .successMessage h2{
        font-size: 3vh
    }
}
